# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.rar
*.tmp
*.ppt
*.opensdf
*.dsp
*.ncb
*.opt
*.dsw
*.plg
*.ilk
*.pdb
*.idb
*.tlog
week02/PointerTest/Debug/PointerTest.log
*.lastbuildstate
*.vcxproj
*.filters
*.log
*.zip
*.sdf
*.sln
*.suo
*.user
*.mak
*.XML
*.htm
*.pl
